server:  
  port: ${PORT:9999}

spring:  
  application:
    name: auth-server

logging:
  level:
    org.springframework.security: TRACE
      
security:
  user:
    name: root
    password: password
  oauth2:
    client:
      client-id: acme
      client-secret: secret
      
eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/