server:  
  port: ${PORT:8761}

spring:  
  application:
    name: discovery-server

logging:
  level:
    org.springframework.cloud.netflix.eureka: TRACE
    
eureka:
  instance:
    hostname: localhost
  client:
    registerWithEureka: false
    fetchRegistry: false
    serviceUrl:
      defaultZone: http://${eureka.instance.hostname}:${server.port}/eureka/