server:  
  port: ${PORT:8761}

spring:  
  application:
    name: discovery-server
    
eureka:
  instance:
    hostname: localhost
  client:
    registerWithEureka: false
    fetchRegistry: false
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/